{% extends "layout.html" %}
{% block content %}

    <main role="main" class="container">
      <div>
        <div>
          <div class="content-section">
            <center>
              <h3>Gesture Recognition</h3>
              <img src="{{ url_for('video_feed_gesture') }}" width="100%">
              <br>

              <form action="{{ url_for('gestures') }}" method='POST'>
                <input type="submit" class="btn btn-outline-info", value="Stop">
              </form><br>
              <h5>Now detecting gestures. Try the following gestures:</h5>
                {% for word in lexicon %}
                  {{ word }}<br>
                {% endfor %}
            </center>

          </div>
        </div>
      </div>
    </main>

{% endblock content %}
