{% extends "layout.html" %}

{% block header %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
       $('#newword').click(function(){
           $.ajax({
           url: "{{ url_for('generate_new_word') }}",
           type: "GET",
           success: function(vid_url) {
               $("#myvid").attr('src', vid_url);
               }
         });
       });
    });
</script>

{% endblock header %}

{% block content %}

    <main role="main" class="container">
      <div>
        <div>
          <div class="content-section">
            <center>
              <h3>ASL Recognition</h3>
              <img src="{{ url_for('video_feed_asl') }}" width="100%">
              <table>
                  <tr>
                      <td>
                          <input type="submit" class="btn btn-outline-info" value="New Word" id="newword">
                      </td>
                      <td>
                          <form action="{{ url_for('asl') }}" method='POST'>
                            <input type="submit" class="btn btn-outline-info" value="Stop">
                          </form>
                      </td>
                      <td>
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                            Hint
                          </button>
                          </div>
                      </td>
                  </tr>
              </table>

            </center>

          </div>
        </div>
      </div>
    </main>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <center><iframe width="460" height="270" id="myvid" src={{ vid_url }} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen autoplay=True></iframe></center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
